{% extends "poll/base.html" %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Inconsolata:wght@200;300&family=Josefin+Sans:wght@100&family=Macondo&family=Montserrat:wght@100&family=Pacifico&family=Paytone+One&family=Permanent+Marker&family=Rajdhani:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Inconsolata:wght@200;300&family=Josefin+Sans:wght@100&family=Macondo&family=Montserrat:wght@100&family=Pacifico&family=Paytone+One&family=Permanent+Marker&family=Rajdhani:wght@300&display=swap" rel="stylesheet">
  <style>
      .q{
        font-family: 'Dancing Script', cursive;
        font-family: 'Inconsolata', monospace;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Macondo', cursive;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Pacifico', cursive;
        font-family: 'Paytone One', sans-serif;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Rajdhani', sans-serif;
        font-size: 25px;
  
      }
  </style>
  
<main>
    
    <div class="container">

    <div class="table-responsive text-nowrap" style="background-color: #f4f4f4;">
    <h2  style="font-family: 'Dancing Script', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Macondo', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rajdhani', sans-serif;
   ">Shopping Cart </h2>
   {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                {% endif %}
        {% for cart_item in object.items.all %}
    <table class="table">
        <thead>
        <tr>
            <th class='q' scope="col">#</th>
            <th class='q' scope="col">Item title</th>
            <th class='q' scope="col">Price</th>
            <th class='q' scope="col">Quantity</th>
            <th class='q' scope="col">Total Item Price</th>
            <th class='q'>add/re</th>
          
            <th></th>
        </tr>
        </thead>
        <tbody>
            
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td class='q'>{{ cart_item.item.p_title }}</td>
            <td class='q'>{{ cart_item.item.p_price }}</td>
            
              <td class='q'> {{ cart_item.quantity }}</td>
               
           
            
            <td class='q'> {{ cart_item.get_total_item_price }} T</td>
            <td><a href="{% url 'add-to-cart' cart_item.item.slug %}">+</a>/
                
                <a href="{% url 'remove-single-item-from-cart' cart_item.item.slug %}">-</a></td>
           

            <td>
         <a style='color: red;' href="{% url 'remove-from-cart' cart_item.item.slug %}">
               DELETE
            </a>
            </td>
        </tr>
        
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        
        {% endfor %}
        
        {% if object.get_total %}
        <tr>
            <td class='q'colspan="4">Order Total</td>
            <td class='q'> {{ object.get_total }} T</td>
        </tr>
        
        <tr>
            <td colspan="5">
               

            <a class='btn btn-secondary float-right ml-2' href="{% url 'acceptorder' %}">Buy NOW</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>
  

{% endblock content %}